<div class="w-full">
    <h1 class='font-bold text-xl mb-4 text-center'>List of recent searches</h1>

    <% if @searches.present? %>
      <ul class="flex flex-col gap-2 items-center mb-4">
        <% @searches.each do |search| %>
          <li class="w-96 bg-gray-200 px-2 py-3 shadow-md"><%= search.query %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-gray-800">No recent searches found.</p>
    <% end %>
  </div>
</div>
